.big {
    color: blue;
}
#red-div{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 40px;
    border: 10px dotted green;
    background-color: red;
}
body{
    background-image: url(img/wood-background.jpg);
}